@-moz-keyframes spinPulse {
    0% {
        box-shadow: 0 0 1px #2187e7;
        opacity: 0;
        -moz-transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        -moz-transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(-320deg);
    };
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinPulse {
    0% {
        box-shadow: 0 0 1px #2187e7;
        opacity: 0;
        -webkit-transform: rotate(160deg);
    }

    50% {
        opacity: 1;
        -webkit-transform: rotate(145deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(-320deg);
    };
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

// Firefox < 16
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

// Safari, Chrome and Opera > 12.1
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

// Internet Explorer
@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

// Opera < 12.1
@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
